body {
	background: url("img/achtergrond.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#contact {
	position: absolute;
	top: 20px;
	left: 350px;
}

#contact div {
	font-family: "Book Antiqua";
	font-weight: bold;
	font-size: 26px;

	position: relative;
	left: 200px;
	top: -180px;
}

#contact span {
	font-family: "Government Agent BB";
	color: red;
}

#content {
	font-family: "Book Antiqua";
	font-weight: bold;
	font-size: 24px;

	position: absolute;
	top: 250px;
	left: 450px;

	width: 350px;
	text-align: justify
}